@model IEnumerable<companhia_aerea.Models.Passageiro>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Passagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdClienteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdPoltronaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdVooNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Passagem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClienteNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPoltronaNavigation.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdVooNavigation.Id)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
